<main class="wrapper">
    <app-navbar></app-navbar>
    <section id="" class="section parallax bg1">
        <div class="col-md-12 text-center text-white">
            <h1 class="mb-4">
                <strong>
                    Corporate Training
                </strong>
            </h1>
            <h5 class="col-md-8  m-auto">
                We can create custom Agile training solutions to meet your organization's needs.
            </h5>
        </div>
    </section>
    <section id="" class="section-2 text-white">
        <div class="row part-2">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <h1 style="color: #d3ccbd;">
                    Get Started
                </h1>
                <p>
                    Thomas University is on a workforce mission to increase the number of
                    agile-certified roles within Florida and Georgia. We can create custom agile
                    training solutions to meet your organization's needs.
                </p>
            </div>
            <div class="col-3"></div>
            <div class="row" style="margin-top: 35px !important;">
                <div class="col-md-4">
                    <h5 class="footer-title text-white">
                        <img class="get-started-icons" src="../../assets/img/icons/magnifying-glass-search.svg">
                        Identify Outcomes
                    </h5>
                    <h6>
                        Your journey towards better business agility starts by identifying what outcomes
                        are most important to your organization's success.
                        We can help you determine what training best satisfies your desired business outcome.
                    </h6>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-title text-white">
                        <img class="get-started-icons" src="../../assets/img/icons/hand-shake.svg">
                        Match Training to People

                    </h5>
                    <h6>
                        What agile-certified roles can help your organization begin the transformation?
                        We believe that focusing on people over processes provide the best results.
                        We support an entire catalog of agile-certified roles.
                    </h6>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-title text-white">
                        <img class="get-started-icons" src="../../assets/img/icons/open-book.svg">
                        On-Site Instruction
                    </h5>
                    <h6>

                        We can facilitate training at your organization or on campus.
                        We provide comprehensive coordination of instructors, participants and
                        resources to seamlessly
                        support your Agile integration.
                    </h6>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3-b">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 my-4 text-center p-4" style="color: #4e4e4f;">
                <h2 class="mt-4">
                    Agile: The New Norm
                </h2>
                <p class="mt-4">
                    Adoption of Agile methodologies to improve
                    business and project outcomes is spreading across
                    the nation at an accelerated rate.
                </p>
                <h2 class="mt-4 pt-5">
                    People, Quality, Satisfaction
                </h2>
                <p class="mt-4">
                    Based on research conducted by the Hewlett
                    Packard of 601 development and IT professionals,
                    Agile project management has been adopted by a majority of development teams and now dwarfs
                    waterfalls approaches.
                </p>
                <p class="mt-4">
                    When asked to reveal their beleifs about the Agile process,
                    respondents revealed team collaboration, product quality and customer
                    satisfaction as the primary motivators for adopting agile development
                    practices.
                </p>
                <h6 class="mt-4" style="color: #d3ccbd">
                    Hewlett Packard Survey
                </h6>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row text-center my-4 pt-5" style="margin-bottom: 30px !important; padding: 0 10%;">
            <div class="col">
                <div class="data-square-1">
                    <h3>
                        54%
                    </h3>
                    <p>
                        Enhances collaboration between teams
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="data-square-2">
                    <h3>
                        52%
                    </h3>
                    <p>
                        Increases product quality
                    </p>
                </div>
        
            </div>
            <div class="col">
                <div class="data-square-1">
                    <h3>
                        49%
                    </h3>
                    <p>
                        Results in increased customer satisfaction
                    </p>
                </div>
        
            </div>
            <div class="col">
                <div class="data-square-2">
                    <h3>
                        43%
                    </h3>
                    <p>
                        Shortens time to market
                    </p>
                </div>
        
            </div>
            <div class="col">
                <div class="data-square-1">
                    <h3>
                        42%
                    </h3>
                    <p>
                        Reduces cost of development
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center mb-4 pb-5" style="margin-bottom: 30px !important; padding: 0 10%;">
            <div class="col">
                <h1>
                    71%
                </h1>
                <p>
                    of organizations report using
                    agile approaches sometimes, often or always.
                </p>
                <h6 style="color: #d3ccbd;">
                    Project Management Institute
                </h6>
        
            </div>
            <div class="col-1"></div>
            <div class="col">
                <h1>
                    49%
                </h1>
                <p>
                    of top managers say that Scrum's
                    success is it's uncompromising customer focus.
                </p>
                <h6 style="color: #d3ccbd;">
                    Forbes
                </h6>
            </div>
            <div class="col-1"></div>
            <div class="col">
                <h1>
                    37%
                </h1>
                <p>
                    of marketers have reported using
                    agile for their campain strategies.
                </p>
                <h6 style="color: #d3ccbd;">
                    Agile Sherpas
                </h6>
            </div>
        </div>
    </section>
    <section id="" class="section-4 parallax bg2">
        <div class="row text-center text-white">
            <div class="col-12">
                <div class="col-md-12 text-center text-white">
                    <h3 class="mb-4">
                        Upcoming Training Events
                    </h3>
                    <p class="col-md-8  m-auto">
                        From technical agility like Agile DevOps, Programming and Testing to enterprise-wide
                        business agility like Lean Portfolio Management, Thomas University can guide you on your agile journey.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-courses-bottom-section></app-courses-bottom-section>
    <app-footer></app-footer>
</main>