<div class="container-fluid footer">
    <div class="row">
        <div class="col-6">
            <span class="footer-text">
                Copyright 2020 Thomas University | All Rights Reserved 
            </span>
        </div>
        <div class="col-6 text-right">
            <a href="https://www.thomasu.edu/certification-training/">
                <i class="fas fa-chevron-left mr-2 "></i>
                <span class="footer-text">Thomas University: Training Programs</span>
            </a>
        </div>
    </div>
</div>