<main class="wrapper">
    <app-navbar></app-navbar>
    <section class="section parallax bg1 text-white">
        <div class="row">
            <div class="col-12 main-title-2">
                <h1 class="text-center">
                    Connect With Us
                </h1>
                <h5>
                    How can we help you become agile?
                </h5>
            </div>
        </div>
    </section>
    <section class="section-3-c">
        <div class="row py-5 my-5">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <p style="font-weight: 900;" class="text-left pt-4">
                            <img class="contact-icons" src="../../assets/img/icons/maps-and-flags.svg">
                            Location
                        </p>
                        <h5>
                            1501 Millpond Rd
                            <br>
                            Thomasville, GA 31792
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <p style="font-weight: 900;" class="text-left pt-4">
                            <img style="margin-right: 5px;" class="contact-icons"
                                src="../../assets/img/icons/envelope.svg">
                            Email Address
                        </p>
                        <h5>
                            <a href="mailto: enrollment@thomasu.edu">enrollment@thomasu.edu</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </section>
    <section id="" class="section-4 parallax bg2">
        <div class="row text-center text-white">
            <div class="col-12">
                <div class="col-md-12 text-center text-white">
                    <h3 class="mb-4">
                        Upcoming Training Events
                    </h3>
                    <p class="col-md-8  m-auto">
                        From technical agility like Agile DevOps, Programming and Testing to enterprise-wide
                        business agility like Lean Portfolio Management, Thomas University can guide you on your agile
                        journey.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-courses-bottom-section></app-courses-bottom-section>
    <app-footer></app-footer>
</main>