<div class="container-fluid">
    <div class="row nav-2">
        <div class="col-12">
            <a href="https://www.stmu.ca/cont-ed/">
                <img class="thomas-logo" src="../../assets/img/logos/stmu-logo/TU-Housetop-Logo.png">
            </a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light text-right row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-1">
                    <a class="nav-link" href="#">
                        HOME
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" [routerLink]="['/upcoming-courses']">
                        UPCOMING COURSES
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" [routerLink]="['/corporate-training']">
                        CORPORATE TRAINING
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" [routerLink]="['/agile-manifesto']">
                        THE AGILE MANIFESTO
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" [routerLink]="['/instructors']">
                        MEET THE INSTRUCTORS
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" [routerLink]="['/contact-us']">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>