.navbar {
  height: 75px;
  background: #fff;
  align-items: center;
  border-bottom: 3px solid #166936;
}

.nav-link {
  font-weight: 600;
}

.nav-2 {
  // height: 84px;
  background: #e0e1e2;
  border-bottom: 3px solid #166936;
}

.thomas-logo {
  margin: 12px;
  height: 82px;
  margin-left: auto;
}