<main class="wrapper">
    <app-navbar></app-navbar>
    <section class="section parallax bg1 text-white">
        <div class="row">
            <div class="col-12 main-title-2">
                <h1>
                    Agile Manifesto
                </h1>
                <h5>
                    Four Values + Twelve Principles
                </h5>
            </div>
        </div>
    </section>
    <section class="section-3-c">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 px-5 text-center p-4" style="color: #4e4e4f;">
                <h2 class="mt-4">
                    Four Values of Agile
                </h2>
                <p class="mt-4">
                    The Agile methodology puts emphasis
                    on the characteristics of communication,
                    collaboration, transparency and technical excellence.
                </p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col text-center">
                <img class="agile-manifesto-icon" src="../../assets/img/icons/avatar.svg">
                <h4>People First</h4>
                <p>
                    Induviduals and interactions over processes
                    and tools
                </p>
            </div>
            <div class="col text-center">
                <img class="agile-manifesto-icon" src="../../assets/img/icons/chat.svg">
                <h4>Customer-centric</h4>
                <p>
                    Customer collaboration
                    over contract negotiation
                </p>
            </div>
            <div class="col text-center">
                <img class="agile-manifesto-icon" src="../../assets/img/icons/couple-of-arrows-changing-places.svg">
                <h4>Pivot Rapidly</h4>
                <p>
                    Responding to change over following a plan
                </p>
            </div>
            <div class="col text-center">
                <img class="agile-manifesto-icon" src="../../assets/img/icons/product.svg">
                <h4>Product Focused</h4>
                <p>
                    Working software over
                    comprehensive documentation
                </p>
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <section class="section-3-c">
        <div class="my-5"></div>
        <div class="row text-center mb-5 pb-5">
            <div class="col-12 pb-3">
                <h1 class="mb-5"> 12 Pillars of Agile</h1>
                <h5>
                    Adopting Agile is never about practices
                    or culture. While those things are important,
                    if you don't achieve better business outcomes,
                    adopting agile is not worth the investment.
                </h5>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12">
                <div class="row ">
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    1
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Customer Satisfaction
                                </h5>
                                <h6>
                                    Our highest priority is to satisfy the customer
                                    through early and continuous deliver
                                    of valuable software.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    2
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Welcome Change
                                </h5>
                                <h6>
                                    Welcome changing requirements, even late in development.
                                    Agile processes harness change for the customer’s
                                    competitive advantage.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    3
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Product Delivery
                                </h5>
                                <h6>
                                    Deliver working software frequently,
                                    from a couple of weeks to a couple of months,
                                    with a preference to the shorter timescale.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    4
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Cooperation
                                </h5>
                                <h6>
                                    Business people and developers
                                    must work together daily throughout the project.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    5
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Servant Leadership
                                </h5>
                                <h6>
                                    Build projects around motivated individuals. Give them the environment and support
                                    they
                                    need, and trust them to get the job done.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    6
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Communication
                                </h5>
                                <h6>
                                    The most efficient and effective method of conveying information to and within a
                                    development
                                    team is face-to-face conversation.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    7
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Reflection
                                </h5>
                                <h6>
                                    At regular intervals, the team reflects on how to become more effective, then tunes
                                    and
                                    adjusts its behavior accordingly.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    8
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Sustainable Development
                                </h5>
                                <h6>
                                    Agile processes promote sustainable development. The sponsors, developers, and users
                                    should
                                    be able to maintain a constant pace indefinitely.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    9
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Continious Attention
                                </h5>
                                <h6>
                                    Continuous attention to technical excellence and good design enhances agility.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    10
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Simplicity is Essential
                                </h5>
                                <h6>
                                    Simplicity–the art of maximizing the amount of work not done–is essential.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row blue-card">
                            <div class="col-2">
                                <h1>
                                    11
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Self-organizing Teams
                                </h5>
                                <h6>
                                    The best architectures, requirements, and designs emerge from self-organizing teams.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="row grey-card">
                            <div class="col-2">
                                <h1>
                                    12
                                </h1>
                            </div>
                            <div class="col-10">
                                <h5>
                                    Working Products Measure Success
                                </h5>
                                <h6>
                                    Working software is the primary measure of progress.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="section-4 parallax bg2">
        <div class="row text-center text-white">
            <div class="col-12">
                <div class="col-md-12 text-center text-white">
                    <h3 class="mb-4">
                        Upcoming Training Events
                    </h3>
                    <p class="col-md-8  m-auto">
                        From technical agility like Agile DevOps, Programming and Testing to enterprise-wide
                        business agility like Lean Portfolio Management, Thomas University can guide you on your agile journey.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-courses-bottom-section></app-courses-bottom-section>
    <app-footer></app-footer>
</main>