<div class="row presented-by-container">
    <div class="col-md-6 text-center pt-5">
        <h3>Presented By</h3>
        <img class="w-75" src="../../assets/img/logos/appddictionLogo.png">
        <br>
        <img class="w-25" src="../../assets/img/icons/partner-badge-gold.svg">
    </div>
    <div class="col-md-6 text-center pt-5">
        <h3>Hosted By</h3>
        <img class="w-75" src="../../assets/img/logos/stmu-logo/TU-Housetop-Logo.png">
    </div>
</div>
<section id="" class="section-3">
    <div id="registrationSection" class="row pb-5 bottom-section-row">
        <div class="col-md-4" *ngFor="let course of bottomFilter">
            <div class="row card-container">
                <div class="col-md-12 card-left">
                    <h3>
                        {{course.courseInfo.title}}
                        <br>
                        {{course.courseInfo.subtitle}}
                    </h3>
                    <h6>
                        {{course.date}}
                    </h6>
                    <img class="upcoming-courses-badge" src="{{course.courseInfo.img}}">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a routerLink="/course-cart">
                                <button (click)="addToCart(course.courseInfo)" type="button"
                                    class="card-btn-2 text-center">
                                    Register Now
                                </button>
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                        <mat-panel-title>
                        </mat-panel-title>
                        <mat-panel-description class="text-center">
                            Learn More
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="col-md-12 card-right text-left">
                        <p>
                            {{course.courseInfo.learnText}}


                        </p>
                        <p style="margin-top: 15px;">
                            {{course.courseInfo.learnText2}}
                        </p>
                        <hr>
                        <p *ngIf="course.courseInfo.included.length">
                            What's Included:
                        </p>
                        <ul class="card-list">
                            <li *ngFor="let included of course.courseInfo.included">{{included.description}}</li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</section>