.presented-by-container {
    height: 600px;
    position: relative;
    background: #e0e1e2;
    top: -9vh;
    color: #7f7f7f;
}

.bottom-section-row {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    top: -37vh;
}
