<main class="wrapper">
    <app-navbar></app-navbar>
    <section id="" class="section-3-b px-2">
        <div class=" py-0" style="padding-bottom: 40px;">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-center p-5">
                    <h1 style="color: #474747;">
                        Expert Instructors
                    </h1>
                    <h5>
                        Our instructors have certified over 2,000 aspiring Agilists in the
                        last
                        <br>
                        two years as ICAgile affiliates
                        and Scaled Agile Gold Partners.
                    </h5>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row" style="padding: 0 10%;">
                <div class="col-md-4">
                    <div class="img-container">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="../../assets/img/instructors/Erik_Hansen.png">
                            <div class="content-details fadeIn-bottom">
                                <h4 class="content-title">
                                    Erik Hansen
                                </h4>
                                <p class="content-text">
                                    Erik Hansen is an agile native and experienced software engineer
                                    lead with 5 years experience designing and developing robust,
                                    user-focused solutions that drive breakthrough efficiency,
                                    value addition and bottom line results. This includes 4 years
                                    experience leading software development teams, managing
                                    multimillion-dollar, mission critical projects for the DoD.
                                </p>
                                <!-- He is skilled in software development lifecycle phases including
                                    system administration, expertise in translating business needs
                                    into technical solutions, extreme communication and cross team
                                    growth, application development, service-oriented architecture,
                                    and enterprise release management. -->
                                <!-- <p>
                                    Hansen graduated from Rice University with a B.S. in
                                    Bioengineering. He then attended the San Antonio based
                                    Web Development bootcamp Codeup. He is a certified SAFe
                                    4 Program Consultant and ICAgile Authorized Instructor.
                                    He is certified at all levels of SAFe Framework and can
                                    teach Leading SAFe, SAFe Scrum Master, Advanced Scrum Master,
                                    Lean Portfolio Management, Product Owner/Product Management,
                                    SAFe DevOps, SAFe Architect in addition to Agile courses like
                                    ICAgile Agile Fundamentals, ICAgile Agile Team Facilitation,
                                    ICAgile Agile Programming & ICAgile DevOps Foundations.
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center">
                        Erik Hansen
                    </h3>
                    <h4 class="text-center">
                        Trainer-SPC, RTE
                    </h4>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="../../assets/img/instructors/Tim_Porter.png">
                            <div class="content-details fadeIn-bottom">
                                <h4 class="content-title">Timothy Porter</h4>
                                <p class="content-text">
                                    Timothy Porter is an Army veteran of 10 years.
                                    <!-- He achieved the rank of Sergeant First Class within 7 years. -->
                                    After being involved in a bomb explosion, Porter was medically
                                    retired and began pursuing his passion: technology. In 2009, after
                                    teaching himself how to develop mobile apps, Appddiction Studio was
                                    formed. In 2011, Appddiction Studio was nationally recognized by the
                                    USA Network Channel. Porter was one of their USA Character Unite Award
                                    winners for developing an award-winning anti-bullying App for schools.
                                    Appddiction Studio has developed well over 200 commercial mobile apps
                                    and has become a leader in Enterprise transformations focusing on Agile
                                    and the SAFe Framework.
                                </p>
                                <!-- <p>
                                    Porter has multiple degrees in Management Information
                                    Systems and holds an MBA. He is an SPC and RTE and has performed
                                    roles for Appddiction Studio as Scaled program Consultant, Enterprise
                                    Coach & Trainer, Agile Coach, Release Train Engineer to Scrum Master.
                                    Appddiction Studio has been performing for programs supporting Gunter
                                    AFB as a Prime Contractor in: Agile Coaching, EODIMS JST & EODIMS Backlog
                                    Burndown and now as a subcontractor on ACES FoS. -->
        
                                <!--
                                    Porter has taught over 50 public/private SAFe classes and
                                    has submitted his packet for consideration to become SPCT Gold
                                    Partner. He is certified at all levels of SAFe Framework and teaches
                                    Leading SAFe, SAFe Scrum Master, Advanced Scrum Master, Lean Portfolio
                                    Management, Product Owner/Product Management, SAFe DevOps, SAFe Architect
                                    in addition to Agile courses like ICAgile Agile Fundamentals, ICAgile Agile
                                    Team Facilitation, ICAgile Agile Programming & ICAgile DevOps Foundations. -->
                                <!-- </p> -->
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center">
                        Timothy Porter
                    </h3>
                    <h4 class="text-center">
                        Trainer-SPC, RTE
                    </h4>
                </div>
                <div class="col-md-4">
                    <div class="img-container">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="../../assets/img/instructors/Anthony_Ortega.png">
                            <div class="content-details fadeIn-bottom">
                                <h4 class="content-title">Anthony Ortega</h4>
                                <p class="content-text">
                                    Anthony Ortega is an instructor for Appddiction Studio with over
                                    15 years of experience architecting, automating, designing, and
                                    implementing enterprise applications across multiple industries for
                                    large organizations, small companies, non-profits, and government
                                    organizations. Ortega has trained and developed over 300 software
                                    developers in his career, many of whom he continues to mentor.Ortega’s
                                    ability to help developers look at software development with ownership
                                    and pride speaks to his passion for his craft. Ortega has a B.S. in Computer
                                    Science with minor in Mathematics from the University of Texas at San Antonio.
                                </p>
                                <!-- <p>
                                    Ortega is a certified SAFe 4 Program Consultant and ICAgile Authorized Instructor. He is
                                    certified at all levels of SAFe Framework and can teach Leading SAFe, SAFe Scrum Master,
                                    Advanced Scrum Master, Lean Portfolio Management, Product Owner/Product Management, SAFe
                                    DevOps, SAFe Architect in addition to Agile courses like ICAgile Agile Fundamentals, ICAgile
                                    Agile Team Facilitation, ICAgile Agile Programming and ICAgile DevOps Foundations.
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center">
                        Anthony Ortega
                    </h3>
                    <h4 class="text-center">
                        Trainer-SPC, SDP
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="section-4 parallax bg2">
        <div class="row text-center text-white">
            <div class="col-12">
                <div class="col-md-12 text-center text-white">
                    <h3 class="mb-4">
                        Upcoming Training Events
                    </h3>
                    <p class="col-md-8  m-auto">
                        From technical agility like Agile DevOps, Programming and Testing to enterprise-wide
                        business agility like Lean Portfolio Management, Thomas University can guide you on your agile journey.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-courses-bottom-section></app-courses-bottom-section>
    <app-footer></app-footer>
</main>