<main class="wrapper">
    <app-navbar></app-navbar>
    <div class="row text-center upcoming-courses">
        <div class="col-12">
            <div class="row">
                <h1 class="col-12">
                    Upcoming Courses
                </h1>
            </div>
            <div style="padding-left: 10%; padding-right: 10%;" class="row pb-5">
                <div class="col-md-4" *ngFor="let course of filteredCourses">
                    <div class="row card-container">
                        <div class="col-md-12 card-left">
                            <h3>
                                {{course.courseInfo.title}}
                                <br>
                                {{course.courseInfo.subtitle}}
                            </h3>
                            <h6>
                                {{course.date}}
                            </h6>
                            <img class="upcoming-courses-badge" src="{{course.courseInfo.img}}">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button (click)="addToCart(course.courseInfo)" type="button"
                                        class="card-btn-2 text-center">
                                        Register Now
                                    </button>

                                </div>
                            </div>
                            <hr>
                        </div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header class="expansion-header">
                                <mat-panel-title>
                                </mat-panel-title>
                                <mat-panel-description class="text-center">
                                    Learn More
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="col-md-12 card-right text-left">
                                <p>
                                    {{course.courseInfo.learnText}}


                                </p>
                                <p style="margin-top: 15px;">
                                    {{course.courseInfo.learnText2}}
                                </p>
                                <hr>
                                <p *ngIf="course.courseInfo.included.length">
                                    What's Included:
                                </p>
                                <ul class="card-list">
                                    <li *ngFor="let included of course.courseInfo.included">{{included.description}}
                                    </li>
                                </ul>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row text-center schedule">
        <h2 class="col-12">
            Course Not Scheduled?
            
        </h2>
        <p class="text-center col-12">
            Use the sign-up form below to recieve notification when new courses are added to the schedule.
        </p>
        <hr style="color: #fff;">
        <div class="col-3">
            <input class="form-control" type="text" placeholder="First Name">
        </div>
        <div class="col-3">
            <input class="form-control" type="text" placeholder="Last Name">
        </div>
        <div class="col-3">
            <input class="form-control" type="text" placeholder="Email">
        </div>
        <div class="col-3">
            <button type="button" class="subscribe-btn text-center">Subscribe</button>
        </div>
    </div> -->

    <div class="row text-center upcoming-courses">
        <div class="col-12">
            <div class="row" style="margin-bottom: 30px !important;">
                <h1 class="col-12">
                    Course Catalog
                </h1>
                <p class="col-12">
                    We offer a full catalog of Scaled Agile and ICAgile courses.
                </p>
            </div>
            <div class="row text-center course-row">
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe_advanced_scrum_master_small.png">
                    <h5>
                        SAFe Advanced Scrum Master
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_software_engineer.png">
                    <h5>
                        SAFe Agile Software Engineering
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe_architects.png">
                    <h5>
                        SAFe for Architects
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe-for-devops.png">
                    <h5>
                        SAFe DevOps
                    </h5>
                </div>
            </div>
            <div class="row text-center course-row">
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe_for_government.png">
                    <h5>
                        SAFe for Government
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/leading_safe_small.png">
                    <h5>
                        Leading SAFe
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/lean_portfolio_management_small.png">
                    <h5>
                        SAFe Lean Portfolio Management
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_product_solution_mangement.png">
                    <h5>
                        SAFe Product and Solution Management
                    </h5>
                </div>
            </div>
            <div class="row text-center course-row">
                <div class="col-md-3">
                    <img src="../../assets/img/logos/product_owner_product_mngr_small.png">
                    <h5>
                        SAFe Product Owner/Product Manager
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe_release_train_engineer.png">
                    <h5>
                        SAFe Release Train Engineer
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/scrum_master.png">
                    <h5>
                        SAFe Scrum Master
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/safe_for_teams.png">
                    <h5>
                        SAFe for Teams
                    </h5>
                </div>
            </div>
            <div class="row text-center course-row">
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_fundamentals_small.png">
                    <h5>
                        ICAgile Fundamentals
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_programming (1).png">
                    <h5>
                        ICAgile Programming
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_team_facilitation.png">
                    <h5>
                        ICAgile Team Facilitation
                    </h5>
                </div>
                <div class="col-md-3">
                    <img src="../../assets/img/logos/agile_test_automation.png">
                    <h5>
                        ICAgile Test Automation
                    </h5>
                </div>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>