<main class="wrapper">
    <app-navbar></app-navbar>
    <section id="" class="section parallax bg1">
        <div class="col-md-12 text-center text-white">
            <h1 class="mb-4">
                <strong>
                    Don't Drown in Waterfall,
                    <br>
                    Become Agile
                </strong>
            </h1>
            <h4 class="col-md-8  m-auto">
                Agile is revolutionizing the way work gets done and can dramatically improve
                job and team satisfaction, collaboration and product quality.
            </h4>
            <a href="#registrationSection">
                <button class="get-started-btn">Get Started</button>
            </a>
        </div>
    </section>
    <section id="" class="section-2 text-white">
        <div class="row part-2">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <h1 style="color: #d3ccbd;">
                    Why Agile?
                </h1>
                <p>
                    To meet the growing need for agile-certified roles within the Florida and Georgia area, Thomas
                    University now offers certification tracks in International Consortium for Agile (ICAgile) and
                    Scaled Agile Framework (SAFe).
                </p>
            </div>
            <div class="col-3"></div>
            <div class="row" style="margin-top: 35px !important;">
                <div class="col-md-4">
                    <h4 class="footer-title">
                        <span style="font-size: 30px;">
                            01
                        </span>
                        A Growing Demand
                    </h4>
                    <p>
                        Agile has been quick to dominate as major companies across the world are embracing the mindset.
                        In the
                        U.S.
                        federal government, agile methods have risen from 10% in 2002 to 80% in 2017, and it continues
                        to rise.

                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-title">
                        <span style="font-size: 30px;">
                            02
                        </span>
                        Proven Success
                    </h4>
                    <p>
                        Agile projects are 28% more successful than traditional/waterfall approaches.
                        The four values of the <span class="footer-title">Agile Manifesto</span> set the tone for
                        successful
                        projects, leading to
                        rapidly delivered products that meet customer expectations.

                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-title">
                        <span style="font-size: 30px;">
                            03
                        </span>
                        Customer-Centric Outcomes
                    </h4>
                    <p>
                        Agile projects are distinguished by a people over process mindset that prioritizes customers’
                        actual
                        needs.
                        Through customer integration in the development process, Agile harmonizes team members to focus
                        on
                        value-driven
                        outcomes.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="section-3-b">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center mb-5">
                <h1 style="color: #166936;">
                    Agile at Thomas University
                </h1>
                <p>
                    Whether you are new to the agile world or a practitioner who recognizes the
                    need to focus on 'being' agile in addition to 'doing' agile,
                    the expertise of who you learn from is as valuable as the substance of the content.
                </p>
            </div>
            <div class="col-md-3"></div>
            <div class="row text-center mb-5" style="margin-top: 35px !important;">
                <div class="col-md-5">
                    <h4 class="footer-title-2">
                        <span style="font-size: 30px;">
                            Open Enrollment
                        </span>
                    </h4>
                    <p>
                        Thomas University welcomes anyone who is seeking the agile mindset.
                        Open enrollment courses offer the opportunity for community
                        members to learn from subject matter experts and network with fellow Agilists.

                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h4 class="footer-title-2">
                        <span style="font-size: 30px;">
                            Customized Training
                        </span>
                    </h4>
                    <p>
                        Whether you work within an enterprise that is scaling agile and are
                        looking for role-based Agile training or you are seeking to foster an agile mindset,
                        Thomas University can help your organization on the agile journey.
                    </p>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 35px !important;">
                <div class="col-md-5">
                    <h4 class="footer-title-2">
                        <img src="../../assets/home-assets/SAFe_logo.png">
                    </h4>
                    <p>
                        is a new way of working that combines Lean thinking with
                        Agile methodologies and helps the world's largest organizations
                        deliver software and systems faster, at higher quality and with better engaged employees.

                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h4 class="footer-title-2">
                        <img src="../../assets/home-assets/logo_ic_agile_small.png">
                    </h4>
                    <p>
                        ICAgile courses meet the highest standards as developed by worldwide
                        Agile thought leaders. Designed to equip you with cutting-edge skills,
                        an Agile mindset, and the knowledge to achieve sustainable agility in your organization.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="section-4 parallax bg2">
        <div class="row text-center text-white">
            <div class="col-12">
                <div class="col-md-12 text-center text-white">
                    <h1 class="mb-4">
                        Upcoming Training Events
                    </h1>
                    <p class="col-md-8  m-auto">
                        From technical agility like Agile DevOps, Programming and Testing to enterprise-wide
                        business agility like Lean Portfolio Management, Thomas University can guide you on your agile
                        journey.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-courses-bottom-section></app-courses-bottom-section>
    <app-footer></app-footer>
</main>